.box {
  background-color: crimson;
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  line-height: 200px;
}
